AIRFLOW_UID=50000
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__CORE__MAX_ACTIVE_TASKS_PER_DAG=16
AIRFLOW__CELERY__WORKER_CONCURRENCY=16
AIRFLOW__CORE__PARALLELISM= 2
AIRFLOW__DATABASE__SQL_ALCHEMY_POOL_SIZE= 10